<div>
  <center style="width:100%;min-width:580px;">
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" class="yiv2036814538body" style="table-layout:fixed;border-spacing:0;border-collapse:collapse;width:100% !important;min-width:100%;color:#313a45;font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;font-size:16px;line-height:1.4;margin:0;padding:0;" bgcolor="#f4f4f4">
      <tbody>
        <tr style="padding:0;">
          <td align="center" valign="top" class="yiv2036814538email-container" style="border-collapse:collapse !important;width:100% !important;min-width:100%;margin:0;padding:20px 10px;">
            <table border="0" cellpadding="0" cellspacing="0" width="580" class="yiv2036814538email-body" style="table-layout:auto;border-spacing:0;border-collapse:collapse;border-radius:8px;padding:0;" bgcolor="#fff">
              <tbody>
                <tr style="padding:0;">
                  <td align="center" valign="middle" class="yiv2036814538header" style="border-collapse:collapse !important;border-radius:8px 8px 0 0;min-height:55px;padding:0;" bgcolor="#313945">
                    <a rel="nofollow" target="_blank" href="https://u8208408.ct.sendgrid.net/ls/click?upn=uXqFO7qNR5AJVQb7WraJO2loBPslGnDWWunVVP-2FmcGs-3DKTax_lsrhaxTDASbBbJQ28QM6Qm-2FQQvZHlmq74ahSsoKxwNhnDcVFpeQ3XKBBQSn9G0o-2Fhrt6vMgIRukWbmqQ0ACrE43CUZBimunDq1D-2FFtf2vS-2FecOkLulIdgf9roJ-2BIcNjCH1VJCIDa-2BBOy3QJzKchAJ1pplDp1rQsjTP504w4mZ2vK7W-2BYBwlj7PiR5hSr-2BoyIv0qENiEgg2HK0tkwixfczHy46THA91BaQXUtGdNjUhimjQJEjdp2v9Q1voScH7ybt2gKi5i2lpl6enCSv0CGSxk9YT0HgXFlK-2F-2BrmjJgJ3o-3D" style="color:#00b2b2;text-decoration:none;">
                      <img alt="EBZ" title="EBZ" src="https://dl-mail.ymail.com/ws/download/mailboxes/@.id==VjN-oBfs05XlYfFB2uIjqWtkZNSKQ__sPuKmiojNPXfhbFtn6b2_grS1BTmeCxvrGouE6F676llwJijNHGM9Rx73ng/messages/@.id==AN1XWg4oMMLIXkeO5QrF0JgVabc/content/parts/@.id==2/raw?appid=YMailNorrinLaunch&amp;ymreqid=d644b760-2bff-6417-1c29-e00000017700&amp;token=zitEzqOML3j84e6ealFTT5U7-km5qEQF52lp7AcCuBZ_dk5QAAY_CBTU0Bk4shSFmXVe-r39jCiDGv2VdtRbzmIMU2fF572ZKOPqDBhaOc8GYHG5zZROOYeWZBW-NzAx" style="width:171px !important;max-width:100%;outline:none;text-decoration:none;vertical-align:middle;min-height:55px !important;border:none;">
                    </a>
                  </td>
                </tr>
                <tr style="padding:0;">
                  <td align="left" valign="top" class="yiv2036814538content" style="border-collapse:collapse !important;padding:50px 50px 40px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:auto;border-spacing:0;border-collapse:collapse;padding:0;">
                      <tbody>
                        <tr style="padding:0;">
                          <td align="center" valign="middle" style="border-collapse:collapse !important;padding:0;">
                            <h1 style="line-height:30px;font-size:28px;font-weight:700;padding-bottom:40px;margin:0;">Welcome <br><span class="yiv2036814538heading-snippet" style="font-size:23px;font-weight:400;">#{email} !</span></h1>
                            <p class="yiv2036814538lead" style="font-size:23px;font-weight:400;line-height:30px;padding-bottom:40px;margin:0;">Your business have been signed up on TAXA. The Local Government Tax collection system.</p>
                            <p class="yiv2036814538lead" style="font-size:23px;font-weight:400;line-height:30px;padding-bottom:40px;margin:0;">Please use the link that follows to verify your account.</p>
                            <table border="0" cellpadding="0" cellspacing="0" width="335" class="yiv2036814538button-block" style="table-layout:auto;border-spacing:0;border-collapse:separate;width:335px;padding:0;">
                              <tbody>
                                <tr style="padding:0;">
                                  <td align="center" valign="middle" class="yiv2036814538button" style="border-collapse:collapse !important;border-radius:35px;padding:20px 25px;" bgcolor="#00c9c9">
                                    <a rel="nofollow" target="_blank" href="#{activateLink}" style="color:#fff !important;text-decoration:none;display:block;font-size:23px;font-style:italic;">Confirm my account</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <br>
                            <br>
                            <p style="font-size:18px;padding-bottom:10px;margin:0;">Please note that your account login will not be activated until confirmed.</p>
                            <br>
                            <br>
                            <p style="font-size:18px;padding-bottom:10px;margin:0;">Your login username is: #{username} and your password is: #{pwd} Please make sure you personalize your password.</p>
                            <br>
                            <br>
                            <p style="font-size:18px;padding-bottom:10px;margin:0;">If you didn't register any business with the Local Government on TAXA, please ignore this email.</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr style="padding:0;">
                  <td align="center" valign="middle" class="yiv2036814538footer" style="border-collapse:collapse !important;padding:0 15px 35px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:auto;border-spacing:0;border-collapse:collapse;padding:0;">
                      <tbody>
                        <tr style="padding:0;">
                          <td align="center" valign="middle" class="yiv2036814538close-text" style="border-collapse:collapse !important;font-size:14px;border-top-width:1px;border-top-color:#ccc;border-top-style:solid;padding:30px 0 0;">
                            <strong>Yours, Local Tax Regulators</strong>
                            <br>
                            <a rel="nofollow" ymailto="mailto:support@ebz.com" target="_blank" href="mailto:support@ebz.com" style="color:#00b2b2;text-decoration:none;">support@taxa.ng.com</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </center>
  <img src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fu8208408.ct.sendgrid.net%2Fwf%2Fopen%3Fupn%3DSzaHZrjeIpGB-2F3yfIZpnF9-2B9SlkpkWVMjJMCzyBadN6RWoJynXsszJ9hAhWhMjUbQlAcXZjkVyOH7Z8-2FYEohqs8sDB75Aanj49ZQlODb-2FKgUvb-2BIpSHyNXLmNpGUK8JqTDLVSpOj67MlWCy6fYRtwEhcR3myn540HMH-2FGbmGHK1fmlvBI26PZ2bA-2FL3brdtl7yNhXuIK0EnswKw8DRsabTR7ar-2FtlXC4NGW-2BqJ547DMELH9yNqSA8CHUPAI5aAP3fgl21U6f-2B5ICXGf4-2BlzFljMUWRdhVtXnwXI9UaDTO4Q-3D&amp;t=1581747974&amp;ymreqid=d644b760-2bff-6417-1c29-e00000017700&amp;sig=fovQtzaeQ7.lpk4KutcRkQ--~C" alt="" width="1" height="1" border="0" style="min-height:1px !important;width:1px !important;border-width:0 !important;margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;padding-top:0 !important;padding-bottom:0 !important;padding-right:0 !important;padding-left:0 !important;">
</div>